.Columna1 {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}


.Columna2 {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  
}
.Columna3 {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

div:hover{
  background: darkgrey;
  border: 1px solid black;
}


